html {
  scroll-behavior: smooth;
}


body {
  font-family: Raleway;
  width: auto;
}

#header{
  padding: 0 40px 0 40px;
}

nav a{
  text-decoration: none;
}

h1{
  font-size: 1.5em;
  font-weight: 900;
}

h2{
  font-weight: 900;
  padding:20px 0;
}

h3{
  font-weight: bold;
  margin-bottom: 10px;
}

.star{
  position: absolute;
  bottom: 25px;
  /*color: blue;*/
}

.fa-star{
  color: blue;
}

.a, .b{
  color: lightgray;
}

ul{
  display: grid;
  grid-template-columns:repeat(2,1fr);
  grid-template-rows: repeat(2,1fr);
  grid-template-areas: 
  "logo inscrire"
  "hebergement activite"; 
}

li{
  height: 75px;
  line-height: 75px;
}

.logo{
  text-align: center;
  grid-area: logo;
}

.inscrire{
  grid-area: inscrire;
  text-align: right;
  font-weight: 900;
  padding-right: 20px;
}

.hebergement{
  text-align: center;
  font-weight: 500;
  grid-area: hebergement;
}

.activite{
  text-align: center;
  grid-area: activite;
}

img{
  width: 150px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.img{
  height: 240px;
  overflow: hidden;
}

.img img{
  width: 375px;
  height: 130px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 0;
  margin: 5px;
}

form{
  display: flex;
  margin-bottom: 40px;
  margin-top: 40px;
}

form i{
  width: 50px;
  height: 50px;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  line-height: 40px;
  background-color: #F2F2F2;
  text-align: center;
}

input{
  height: 46px;
  width: 250px;
  border:solid #F2F2F2 1px;
  position: relative;
  left: -1px;
}


.formulaire button{
  width: 40px;
  border: solid white;
}

.search i{
  color: white;
  background-color: #0065FC;
  border-radius: 15px;
  position: relative;
  left: -55px;
  top:-4px;
  line-height: 50px;
}

.ico i{
  line-height: 50px;
}

.filtres {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
}

.filtres i{
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: #DEEBFF;
  color: #0065FC;
  line-height: 40px;
}

.papapapa{
  height: 120px;
  width: 310px;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(2,1fr);
  text-align: center;
  align-items: center;
}

.papapapa2{
  text-align: center;
}

.papa1, .papa2, .papa4{
  max-width: 130px;
  height: 40px;
}

.papa3{
  max-width: 190px;
}

.papa2{
  grid-column-start: 1;
  grid-row-start: 2;
}

.papa3{
  grid-column-start: 1;
  grid-row-start: 3;
}

i{
  display: inline-block;
}

.button{
  height: 40px;
  text-align: center;
  line-height: 35px;
  display: inline-block;
  position: relative;
  top:-40px;
  z-index: -1;
}

button{
  height: 40px;
  padding-left: 40px;
  border-radius: 20px;
  border: solid #F2F2F2 2px;
  background-color: white;
}

.info{
  display: flex;
}

.info i{
  color: #0065FC;
  background-color: white;
  margin: 0px 15px 30px 0;
}

.page{
  display: flex;
  flex-direction: column-reverse;
}

article{
  border-radius: 20px;
  padding: 20px;
  /*margin: 10px;*/
}

aside{
  min-width: 280px;
  background-color: #F2F2F2;
  padding: 20px;
}

.activites{
  padding: 20px;
  margin: 0 auto;
}

.activites2{
  width: 375px;
  display: flex;
  flex-direction: column;
}

.hebergements{
  display: flex;
  flex-wrap: wrap;
}

.resultat{
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 1em lightgray;
  margin: 10px auto;
  height: 250px;
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
}

.titre_pop{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(1,1fr);
  padding: 20px 0;
  align-items: center;
}

.titre_pop i{
  text-align: right;
}

.pop{
  display: flex;
  background-color: white;
  border-radius: 20px;
  margin: 10px auto;
  overflow: hidden;
}

.pop img{
  margin: 5px;
  object-fit: cover;
}

figure{
  display: inline-block;
  height: 150px;
  border-radius: 20px;
  overflow: hidden;
  margin: 0 auto;
}

.activites2 figure{
  width: 375px;
  height: 200px;
  box-shadow: 0 0 1em lightgray;
  margin: 10px 0;
}


.activites2 figure img{
  width: 375px;
  height: 260px;
  object-fit: cover;
  border-radius: 20px;
  margin: 0 auto;
}

img:hover{
  transform: scale(1.2);
}

figcaption{
  position: relative;
  height: 125px;
  padding: 20px;
  
}

.activites2 figcaption{
  transform: translateY(-100px);
  background-color: white;
  padding: 10px 20px;
}

.act{
  box-shadow: 5px 5px 5px 1px gray;
  margin: 10px auto;
  width: 320px;
  height: 200px;
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
}

.act img{
  width: 330px;
  margin: 10px auto;
  border-radius: 20px;
  box-shadow: 5px 5px 5px 1px gray;
}

footer{
  margin: 50px auto;
  padding: 20px;
  background-color: #F2F2F2;
}

.footer{
  padding: 10px 0 10px 0;
}

.footer h3{
 margin-bottom: 10px;
}

.footer p{
  margin: 20px 0;
}

.footer p a{
  text-decoration: none;
  color: black;
}

.footer p a:hover{
  color: blue;
}




@media screen and (min-width: 1024px) {

  ul{
    display: grid;
    grid-template-columns:repeat(4,1fr);
    grid-template-areas: 
    "logo hebergement activite inscrire"; 
  }

  .search{

    text-indent: -9999px;
  }

  .search::after{
    content:"Rechercher";
    text-indent: 0;
    display: block;
    width: 100px;
    height: 40px;
    position: relative;
    line-height: initial;
    background-color: #0065FC;
    color: white;
    top: -44px;
    left: -44px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .filtres{
    flex-direction: row;
    align-items: center;
  }

  .papapapa, .papapapa2{
    width: 500px;
    display: flex;
    text-align: center;
    align-items: center;
  }

  .page{
    display: grid;
    grid-template-columns:repeat(2,1fr);
    width: 1024px;
    margin: 10px;
  }

  article, aside{
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 20px;
    margin: 0;
  }

  .article2{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-row-start: 1;
    margin: 0px;
  }

  .resultat{
    width: 180px;
    margin: 10px;
  }

  aside{
    width: 50%;
    justify-content: right;
    margin-left: 25px;
  }

  .pop{
    width: 250px;
  }

  .activites2{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
  }

  .activites2 figure{
    width: 230px;
    margin: 10px;
  }

  .activites2 figure img{
    width: 230px;
    border-radius: 20px;
    margin: 0 auto;
  }

  .activites2 figcaption{
    transform: translateY(-45px);
    background-color: white;
  }

  .act:first-child{
    grid-row-start: span 2;
    height: 430px;
  }

  .img:first-child{
    height: 390px;
    width: 230px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 1px gray;
  }

  .act img{
    height: 390px;
    margin: 10px auto;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 1px gray;
  }
}

  





